.container {
    width: 100%;
    height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .quote_container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border: 1px solid #202020;
  }
  
  .text_container {
    margin-left: 2em;
    font-size: x-large;
    text-align: left;
    width: 50%;
  }
  
  .text_container small {
    margin-top: 100px;
  }
  
  .image_container {
    height: 90%;
    width: 50%;
    position: relative;
  }